.mapLocation__maincomponent{
    background-image: url(https://firebasestorage.googleapis.com/v0/b/ghummakad-bad15.appspot.com/o/image%2Fmapm.jpg?alt=media);
    background-size:cover;
    background-repeat: no-repeat;
    /* background-position: center; */
    height: 700px;
}
@media screen and (max-width : 600px) {
    .mapLocation__maincomponent{
        height: 600px;
        background-position: center center;
        background-size: cover;
        background-repeat: no-repeat;
        margin-top: 100px;
    }
}
.mapLocation__text{
    text-align: justify;
}