<<<<<<< HEAD
.SignInDashboard__background{
    background-color: #eeeeeee8;   
}
.SignInDashboard__body{
    background-color: white;
    margin: 0;
    padding: 0;
}
.SignInDashboard__banner{
    background-Color: #000; 
    height: 200px;
}
.SignInDashboard__editImage{
    width: 150px;
}
.SignInDashboard__profileImage{
    width: 150px;
    z-index: 1;
}
.SignInDashboard__editButtom{
    height: 36px;
    overflow: visible !important;
    color: black !important;
    border: 1px solid black !important;
}
.SignInDashboard__editButtom:hover{
    background: rgb(250,116,53);
    background: linear-gradient(180deg, rgba(250,116,53,1) 21%, rgba(228,161,27,1) 61%);
    border: 0px solid black !important;
    color: white !important;
    font-weight: bold !important;
}
.SignInDashboard__about{
    background-color: #f8f9fa;
}
=======
.SignInDashboard__background {
  background-color: #eeeeeee8;
}
.SignInDashboard__body {
  background-color: white;
  margin: 0;
  padding: 0;
}
.SignInDashboard__banner {
  background-color: #000;
  height: 200px;
}
.SignInDashboard__editImage {
  width: 200px !important;
  height: 200px !important;
  border: 1px solid rgb(192, 191, 191);
}
.SignInDashboard__profileImage {
  width: 150px;
  z-index: 1;
}
.SignInDashboard__editButtom {
  height: 36px;
  overflow: visible !important;
  color: black !important;
  border: 1px solid black !important;
}
.SignInDashboard__editButtom:hover {
  background: rgb(250, 116, 53);
  background: linear-gradient(
    180deg,
    rgba(250, 116, 53, 1) 21%,
    rgba(228, 161, 27, 1) 61%
  );
  border: 0px solid black !important;
  color: white !important;
  font-weight: bold !important;
}
.SignInDashboard__about {
  background-color: #f8f9fa;
}
.signInDashboard_profileImg {
  height: 200px !important;
  width: 200px !important;
  border: 1px solid rgb(218, 218, 218);
}
.signInDashboard__typoChange {
  color: var(--gummakad-color) !important;
}
.one {
  /* border: 1px solid black; */
}
.two {
  /* border: 1px solid black; */
}
>>>>>>> main
